a {
    color: black;
    text-decoration: none;
}
#intro{
    color: gold;
}
a:hover{
    text-decoration: underline;
}
.codigo{
    color: green;
}
.design{
    color: red;
}
.azul{
    color: blue;
}
.grande{
    font-size: 2em;
}
.underline{
    text-decoration: underline;
}
/*ex de seleção de tag css h1, p seleciona mais de uma elemento

p a seleciona o a dentro do p

id= # so pra uma tag

class = . para mais de uma tag
*/