img{
    max-width: 100%;
    display: block;
    margin: 0px;
    
}

   

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    max-width: 960px;
    margin: 50px auto;
}
.texto{
    align-self: center;
}
p{
    max-width: 40ch;
}
.cover img{
    height: 100%;
    object-fit: cover;
    object-position: center bottom;
}